* {

    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

#heading {
    color: rgb(39, 39, 39);
    padding: 8px;
    width:400px
}

h1 {
    font-family: helvetica;
    font-size: 19px;
    margin-left: 8%; 
    margin-top: 7%;
}

h2 {
    font-family: helvetica;
    font-size: 10px;
    margin-left: 8%; 
    margin-top: 3%;
    font-weight: 400;
}


body {
    background-color: rgb(253, 253, 241);
    color:white;
    font-family: helvetica;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* cursor: default; */
        

}

#renderer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(236, 234, 234, 0.05);
    position: relative;
}

/* Default styles for the bar */
.bar {
    background-color: white;
    position: absolute;
    cursor: pointer;
}

/* Hover styles for the bar */
.bar.hover {
    background-color: black;
    border: 1px solid black;
    opacity: 0.8;
}

/* Default styles for the dot */
.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    border: 0.1px solid transparent; /* Default transparent border */
}

/* Hover styles for the dot */
.dot.hover {
    border: 1px solid black;
    opacity: 0.8;
}

/* Default styles for the marital dot */
.marital-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    border: 0.5px solid transparent; /* Default transparent border */
    cursor: pointer;
}

/* Hover styles for the marital dot */
.marital-dot.hover {
    border: 1px solid black;
    opacity: 0.8;
}

/* Other styles for marital dot variations */
.marital-dot.bordered {
    background-color: rgb(253, 253, 241);
}

.marital-dot.smaller {
    width: 3px;
    height: 3px;
}



.buttons{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .1rem;
    background-color: transparent;
    position: absolute;
    top: 40%;
    left: 88%; /* Adjust the left position as needed */
    transform: translateY(-50%); /* Center the tab list vertically */
    z-index: 200000;
}


.button {
    padding: .3rem;
    /* background-color: #4e4e4e;  */
    outline: none;
    min-width: 100px; /* Adjust the width as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 10.7px;
    cursor: pointer;
    transition: opacity 0.2s cubic-bezier(0.83, 0, 0.17, 1);
    border-radius: 3px;
    color: rgb(90, 90, 90); /* Change the text color */
}

.button.active {
    font-weight: bold;
}

.button:hover {
    opacity: var(--hover-opacity, 0.6); /* Adjust the opacity on hover */
}

.toggles{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .1rem;
    background-color: transparent;
    position: absolute;
    top: 65%;
    left: 88%; /* Adjust the left position as needed */
    transform: translateY(-50%); /* Center the tab list vertically */
    z-index: 200000;
}


.toggle {
    padding: .3rem;
    /* background-color: #4e4e4e;  */
    outline: none;
    min-width: 65px; /* Adjust the width as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 10.7px;
    cursor: pointer;
    transition: opacity 0.2s cubic-bezier(0.83, 0, 0.17, 1);
    border-radius: 3px;
    color: rgb(90, 90, 90); /* Change the text color */
}

.toggle.active {
    font-weight: bold;
    /* background-color: var(--toggle-active-background-color, #b6b5b5); */
}

.toggle:hover {
    opacity: var(--hover-opacity, 0.6); /* Adjust the opacity on hover */
}

.toggle:hover p {
    transform: translateY(-3px);
    transition: transform 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}



#singleToggle {
    align-content: start;
}

/* Tab list */
.tab-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 2.2%; /* Align the left position */
    transform: translateY(-50%); /* Center the tab list vertically */
    z-index: 200000;
}

/* Tab */
.tab {
    padding: .3rem;
    /* background-color: #4e4e4e;  */
    outline: none;
    min-width: 100px; /* Adjust the width as needed */
    display: flex;
    align-items: flex-start; /* Align items to the start */
    justify-content: flex-start; /* Align content to the start */
    border: none;
    font-size: 12px;
    cursor: pointer;
    transition: opacity 0.2s cubic-bezier(0.83, 0, 0.17, 1);
    /* border-radius: 3px; */
    color: rgb(90, 90, 90); /* Change the text color */
}

.tab:hover {
    opacity: 0.6; /* Adjust the opacity on hover */
}

.tab:hover p {
    transform: translateY(-3px);
    transition: transform 0.2s cubic-bezier(0.85, 0, 0.15, 1);
}

.tab-list .tab {
    cursor: pointer;
}

.tab-list .tab.active {
    font-weight: bold;
    /* background-color: #ddd; */
}

.toggle-section {
    display: none;
}

.toggle-section#gender-section,
.toggle-section#obsession-section,
.toggle-section#compulsion-section {
    display: none;
}

/* Default section to display */
.toggle-section#gender-section {
    display: block;
}

.tab-content {
    display: none;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

/* 
.bar.female {
    background-color: rgb(253, 155, 155);
}

.bar.male {
    background-color: rgb(85, 124, 255);
} */

.icons {
    width: 25px;
}

.married-icon {
    margin-right: 1.5px; /* Larger offset for married icon */
}

.single-icon {
    margin-left: -1px; /* Smaller offset for single icon */
    margin-right: 2.5px; 
}

.divorced-icon {
    margin-left: -0.5px;
    margin-right: 2px; /* Larger offset for divorced icon */
}


.washing-icon {
    color: rgb(178, 207, 226);
}

.checking-icon {
    color: rgb(245, 211, 202);
}

.praying-icon {
    color: rgb(202, 193, 221);
}

.counting-icon {
    color: rgb(198, 164, 163);
}

.ordering-icon {
    color: rgb(139, 191, 189);
}

.harm-related-icon {
    color: rgb(203, 66, 30);
}

.hoarding-icon {
    color: rgb(245, 203, 126);
}

.symmetry-icon {
    color: rgb(132, 199, 143);
}

.religious-icon {
    color: rgb(64, 156, 196);
}

.contamination-icon {
    color: rgb(62, 63, 130);
}

.chart-text {
    position: absolute;
    white-space: nowrap;
}

/* Style for min and max Y-BOCS Score text */
.y-bocs-score {
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    color: #444444;
}

.title-text {
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    color: #000;
}

.info-text {
    font-family: 'Helvetica', sans-serif;
    font-size: 10px;
    color: #7d7d7d;
}