* {

    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(253, 253, 241);
    color:white;
    font-family: 'Fira Sans', sans-serif;
}

#renderer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(236, 234, 234, 0.05);
    position: relative;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    /* opacity: 20%; */
    /* border-style: 0.5px solid; */
    position: absolute;
}


.bar {
    background-color: white;
    position: absolute;
}

.marital-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
}

/* .marital-dot.filled {
    background-color: rgb(0, 0, 0);
} */

.marital-dot.bordered {
    background-color: rgb(253, 253, 241);
    /* border: 0.5px solid; */
}

.marital-dot.smaller {
    width: 3px;
    height: 3px;
}


.button {
    padding: 10px;
    background-color: rgb(253, 253, 241);
    border: 1px solid #4e4e4e;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #212121;
    display: block;
}

/* Add this CSS for toggles */
.toggle {
    padding: 10px;
    background-color: #4e4e4e;
    border: 1px solid #4e4e4e;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
}

.toggle.active {
    background-color: #212121;
}



/* 
.bar.female {
    background-color: rgb(253, 155, 155);
}

.bar.male {
    background-color: rgb(85, 124, 255);
} */